@model Employees.Mvc.Models.Employee

    <div class="d-flex justify-content-center">
        <div>
            <h1 class="display-3">Employee Info</h1>
            <p class="lead">Here you can find basic information about an entry.</p>
            <br />
            <ul class="list-group">
                <li class="list-group-item"><span class="font-weight-bold">First Name</span> @Model.FirstName</li>
                <li class="list-group-item"><span class="font-weight-bold">Last Name</span> @Model.LastName</li>
                <li class="list-group-item"><span class="font-weight-bold">Address</span> @Model.Address</li>
                <li class="list-group-item"><span class="font-weight-bold">Phone Number</span> @Model.PhoneNumber</li>
                <li class="list-group-item"><span class="font-weight-bold">Specialty</span> @Model.Specialty</li>
            </ul>
        </div>
    </div>


            
